
services:

    ireceptor-database:
        image: ireceptor/repository-mongodb:${DATABASE_TAG:-reactivity_ref}
        ulimits:
          nofile:
            soft: 64000
            hard: 64000
          memlock:
            soft: -1
            hard: -1

        volumes:
            - ../.mongodb_data:/data/db
        environment:
            MONGO_INITDB_DATABASE: ireceptor

    ireceptor-api:
        depends_on:
            - ireceptor-database
        image: ireceptor/service-php-mongodb:${API_TAG:-rearrangement-reactivity-ref}
        environment:
            DB_HOST: ireceptor-database
            DB_DATABASE: ireceptor
            DB_SAMPLES_COLLECTION: sample
            DB_SEQUENCES_COLLECTION: sequence
            DB_CELL_COLLECTION: cell
            AIRR_INFO_TITLE: ${AIRR_INFO_TITLE:-iReceptor Service}
            AIRR_INFO_CONTACT_NAME: ${AIRR_INFO_CONTACT_NAME:-iReceptor}
            AIRR_INFO_CONTACT_URL: ${AIRR_INFO_CONTACT_URL:-http://ireceptor.org}
            AIRR_INFO_CONTACT_EMAIL: ${AIRR_INFO_CONTACT_EMAIL:-support@ireceptor.org}
        volumes:
            - ../.home:/var/www/html/public/home
            - ../.config:/config
            - ../.ssl:/etc/apache2/ssl
        ports:
            - ${API_PORT:-80}:80
            - ${API_PORT_HTTPS:-443}:443

    ireceptor-dataloading:
        depends_on:
            - ireceptor-database
        image: ireceptor/dataloading-mongo:${DATALOADING_TAG:-add-reactivity}
        environment:
            DB_HOST: ireceptor-database
            DB_DATABASE: ireceptor
        volumes:
            - ../.config:/config
            - ${FILE_FOLDER:-/tmp}:/scratch
