[Unit]
Description=iReceptor Turnkey
After=docker.service
Requires=docker.service

[Service]
Restart=always
#Environment=IRECEPTOR_TURNKEY_FOLDER=/home/ubuntu/turnkey-service-php
ExecStart=/home/ubuntu/turnkey-service-php/scripts/start_turnkey.sh
ExecStop=/home/ubuntu/turnkey-service-php/scripts/stop_turnkey.sh

[Install]
WantedBy=multi-user.target
